@page "/actors/{id:int}/edit/"

<h1>Editar actor</h1>

@using BusinessLogic
@using Domain
@using UserInterface.Data

@inject ActorLogic ActorLogic
@inject NavigationManager NavigationManager
@inject SessionLogic CurrentUser

@if (CurrentUser.CurrentUser != null)
{
    <form>
        <div class="form-group">
            <label for="title">Nombre</label>
            <input type="text" class="form-control" id="title" @bind="currentActor.Name"/>
        </div>
        <div class="form-group">
            <label for="director">Bio</label>
            <input type="text" class="form-control" id="director" @bind="currentActor.Bio"/>
        </div>
        <div class="form-group">
            <label for="bio">Birth Date</label>
            <input type="date" class="form-control" id="bio" @bind="currentActor.BirthDate"/>
        </div>
        <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>
        <a href="/actors">Cancelar</a>
    </form>

}

@code {
    
    public DateTime Min = new DateTime(1990, 1, 1, 8, 15, 0);
    public DateTime Max = new DateTime(2025, 1, 1, 19, 30, 45);

    [Parameter]
    public int Id { get; set; }

    private Actor? currentActor;

    protected override void OnInitialized(){

        currentActor = ActorLogic.FindById(Id);
    }


    private void SaveChanges(){
        ActorLogic.Update(currentActor);
        NavigationManager.NavigateTo("/actors");
    }

}