@page "/"
@using UserInterface.Data
@using Domain

@inject SessionLogic SessionLogic
@inject NavigationManager NavigationManager


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <button class="btn btn-danger btn-sm" @onclick="(() => Login())">Login</button>
</div>

<div>
    <button class="btn btn-danger btn-sm" @onclick="(() => LogOut())">LogOut</button>
</div>

<SurveyPrompt Title="How is Blazor working for you?"/>

@code{

    protected override void OnInitialized()
    {
        
    }
    
    private void Login(){
        //valido el usuario y me lo traigo con la logica de usuario
        SessionLogic.Login(new User());
        NavigationManager.NavigateTo("/", true);
    }
    
    private void LogOut(){
        SessionLogic.LogOut();
        NavigationManager.NavigateTo("/", true);

    }
    

}