@page "/login"

@using BusinessLogic
@using Domain
@using UserInterface.Data

@inject SessionLogic SessionLogic
@inject NavigationManager NavigationManager
@* @inject CurrentUser CurrentUser *@

<h3>Login</h3>

<form @onsubmit="HandleLogin">
    
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" @bind="user.Username" required/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" @bind="user.Password" required/>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    
</form>

@code {
    private User user = new User();
    
    private string errorMessage;

    private void HandleLogin()
    {
        if (SessionLogic.ValidateCredentials(user))
        {
            SessionLogic.Login(user);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = "Invalid username or password.";
        }
    }
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}