@page "/categories/create/"

<PageTitle>Create Category</PageTitle>

@using BusinessLogic
@using Domain
@using UserInterface.Data

@inject CategoryLogic CategoryLogic
@inject NavigationManager NavigationManager

@inject SessionLogic CurrentUser

@if (CurrentUser.CurrentUser != null)
{
    <h1>Create Category</h1>
    <form>
        <div class="form-group">
            <label for="title">Nombre</label>
            <input type="text" class="form-control" id="title" @bind="currentCategory.Name"/>
        </div>

        <button type="button" class="btn btn-primary" @onclick="SaveChanges">Guardar cambios</button>

        <a href="/categories">Cancelar</a>

    </form>


}

@code {
    private Category? currentCategory;

    protected override void OnInitialized()
    {
        currentCategory = new Category();
    }

    private void SaveChanges()
    {
        CategoryLogic.AddMovie(currentCategory);
        NavigationManager.NavigateTo("/categories");
    }

}